:root {
  --color-primary: #F25C54;
  --color-secondary: #F4845F;
  --color-blue-100: #A8DADC;
  --color-blue-200: #457B9D;
  --color-blue-300: #1D3557;

  --text-white: #FFF;
  --text-black: #1D3557;

  --radius: 9px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}

section {
  height: 25rem;
  display: flex;
  flex-direction: column;
}

/* HERO SECTION */
.hero-section {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--text-white);
  background-image: url("images/section-hero.jpg");
  background-size: cover;
}

.hero-title {
  padding: 0.5rem 1.2rem;
  background-color: var(--color-primary);
  border-radius: var(--radius);
}

.hero-subtitle {
  padding: 0.5rem 0.1rem;
  max-width: 70%;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--color-secondary);
  border-radius: var(--radius);
}


/* ACTIVITIES SECTIONS */
.activities-section {
  padding: 2rem 0;
  gap: 2.5rem;
  color: var(--text-black);
  background-color: var(--color-secondary);
}

.activities-cards {
  display: flex;
  gap: 1.5rem;
}

.activity-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.activity-img {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
}

/* GUIDE SECTION */
.guide-section {
  justify-content: center;
  align-items: center;
}

.guide-card {
  display: flex;
  gap: 0.75rem;
  padding: 1.5rem 1rem;
  width: 70%;
  max-width: 700px;
  background-color: var(--color-blue-100);
  border-radius: var(--radius);
  box-shadow: 0 6px 0 var(--color-blue-300);
}

.guide-img {
  height: 250px;
  border-radius: var(--radius);
}

.guide-text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: auto;
  height: fit-content;
}